/* 
.container {
  background-image: url('https://wallpapercave.com/wp/j1lALye.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  color: white;
} */

.container {
  background-image: url('https://source.unsplash.com/featured/?hogwarts');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  color: white;
}
